:root {
  --accent: #50dbcc;
  --body-bg: #fff;
  --sec-bg: #fff;
  --text: #222;
  --bg: #fff;
  --opacity: 1;
  --blur: 4vmax;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 1), 0 -1px 2px rgba(0, 0, 0, 0.3);
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
html {
  font-family: Halant;
  background-color: var(--body-bg);
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-weight: 400;
  color: var(--text);
}
a {
  text-decoration: none;
  color: var(--text);
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--text);
  line-height: 1.2;
  font-weight: 700;
}
p a {
  color: var(--text);
  font-weight: 700;
  margin-right: 1.5rem;
  font-size: 1.3rem;
  padding-bottom: 2px;
  backface-visibility: hidden;
  background: linear-gradient(
    to bottom,
    transparent 80%,
    var(--accent) 80%,
    var(--accent) 90%,
    transparent 90%
  );
  transition: 0.2s;
}
p a:hover {
  color: var(--text);
  padding-bottom: 7px;
  backface-visibility: hidden;
  background: linear-gradient(
    to bottom,
    transparent 80%,
    var(--text) 80%,
    var(--text) 92%,
    transparent 92%
  );
}
.thumb {
  background-size: cover;
  background-position: center;
}
article#intro:before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-position: 15% center !important;
}
#intro a#fb:hover {
  color: var(--accent);
}
#intro h1 {
  line-height: 1;
  font-size: 6.5vw;
  margin-bottom: 1vw;
}
#intro h2 {
  line-height: 1;
  font-weight: 500;
  font-size: 3.3vw;
  color: var(--accent);
}
.new {
  transform: rotateX(90deg);
}
#fb, #down {
  position: absolute !important;
  bottom: 4rem;
}
a#fb {
  line-height: 0;
  left: 4rem;
  transition: .2s;
  font-size: 2rem !important;
}
#down {
  right: 4rem;
  width: 2rem;
  height: 2rem;
  transform: translateX(-40%) translateY(-30%) rotate(45deg);
  transform-origin: bottom center;
}
#down span { /* touch area */
  position: absolute;
  width: 400%;
  height: 400%;
  left: 50%;
  border-radius: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#down:before, #down:after {
  content: '';
  position: absolute;
  background: var(--text);
  border-radius: 4px;
}
#down:before {
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
}
#down:after {
  height: 100%;
  width: 4px;
  right: 0;
  top: 0;
}
#facebook {
  display: inline-block;
  fill: currentColor;
  width: 2rem;
  height: 2rem;
}
.border {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  border: 3px solid var(--text);
  opacity: .4;
  position: absolute;
  left: 2rem;
  top: 2rem;
}
#intro > div.content {
  text-align: center;
  margin: auto;
  position: relative;
}
.links {
  margin-top: 1.6rem;
}
p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}
h2 {
  font-size: 4vw;
  margin-bottom: 1rem;
  line-height: 1;
}
h3 {
  font-size: 2vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--accent);
}
article {
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-scroll-snap-align: start end;
  scroll-snap-align: start end;
}
.container {
  z-index: 1;
  width: 70vw;
  min-width: 600px;
  margin: auto;
  display: flex;
}
article:before {
  content: "";
  z-index: 0;
  width: 200%;
  height: 200%;
  left: -50%;
  top: -50%;
  opacity: var(--opacity);
  background-color: #000;
  position: absolute;
  background-image: var(--bg-image);
  -webkit-filter: blur(var(--blur));
  filter: blur(var(--blur));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.txt {
  width: auto;
  display: flex;
}
.txt > div {
  margin: auto;
}
.thumb {
  background-image: var(--thumb);
  flex: 28vw 0 0;
  height: 28vw;
  border-radius: 0.4rem;
  margin: 0 5vmin 0 0;
}

@media screen and (min-width: 800px) {
  html {
  -webkit-scroll-snap-type: y;
  scroll-snap-type: y;
  }
}
@media screen and (max-width: 1000px) {
  p {
    font-size: 1.2rem;
  }
  .container {
    min-width: 10px;
    width: 90vw;
  }
  p a {
    font-size: 1.1rem;
    margin-right: .7rem;
  }
  article:not(intro) {
    height: auto;
    padding: 60px 25px 60px;
  }
  article#intro:before {
    background-position: 30% center !important;
  }
}

@media screen and (max-width: 700px) {
  #intro h1 {
    font-size: 8vw;
    margin-bottom: .5rem;
  }
  #intro h2 {
    font-size: 3.4vw;
  }
  a#fb {
    left: 4rem;
    font-size: 4.5vw !important;
  }
  article:not(intro) {
    padding: 50px 25px 80px;
  }
  .container {
    width: 100%;
    flex-direction: column;
    min-width: 10px;
    margin: 10px auto auto auto;
  }
  h3 {
    font-size: 5vw;
  }
  h2 {
    font-size: 8vw;
  }
  .thumb {
    background-image: var(--thumb);
    flex: 50vmin 0 0;
    height: 50vmin;
    width: 50vmin;
    border-radius: 0.4rem;
    margin: 0 0 1rem 0;
  }
}
